<p>category works!</p>
<div class="formCategory">
  <button (click)="revealForm()">CREAR CATEGORÍA</button>
  <div class="login-box" *ngIf="formState">
    <h2>CREAR CATEGORÍA</h2>
    <form (ngSubmit)="createCategory(body)">
      <div class="user-box">
        <h5>Nombre</h5>
        <input type="text" name="1" required="">
        <button type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="listCategory">
  <table class="default">
    <tr>
      <th>Lista de categorías</th>
    </tr>
    <tr>
      <td>categoria 1</td>
    </tr>
  </table>
</div>