<p>sub-category works!</p>
<div class="formSubCategory">
    <button (click)="revealForm()">CREAR SUBCATEGORÍA</button>
    <div class="login-box" *ngIf="formState">
      <h2>CREAR SUBCATEGORÍA</h2>
      <form (ngSubmit)="createSubCategory(body)">
        <div class="user-box">
          <h5>Nombre</h5>
          <input type="text" name="1" required="">
          <button type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="listSubCategory">
    <table class="default">
      <tr>
        <th>Lista de subcategorías</th>
      </tr>
      <tr>
        <td>subcategoria 1</td>
      </tr>
    </table>
  </div>