<p>view-document works!</p>

<div class="current-page">
  <span>Inicio/Documentos</span>
</div>
<div class="create-document">
  <form action="">
    <label for="docname" class="">Nombre*</label>
    <input type="text" id="docname" placeholder="Ingrese el nombre"><br>
    <label for="docdescription" class="">Descripción*</label>
    <input type="text" id="docdescription" placeholder="Ingrese la descripcion"><br>
    <label for="categories">Categoria*:</label>
    <select name="categories" id="categories">
      <option>gruñón@woodworkers.com</option>
      <option>feliz@woodworkers.com</option>
      <option>dormilón@woodworkers.com</option>
      <option>tímido@woodworkers.com</option>
      <option>estornudo@woodworkers.com</option>
      <option>tontín@woodworkers.com</option>
      <option>doc@woodworkers.com</option>
    </select><br>
    <label for="subcategories">Subcategoria:</label>
    <select name="subcategories" id="subcategories">
      <option>gruñón@woodworkers.com</option>
      <option>feliz@woodworkers.com</option>
      <option>dormilón@woodworkers.com</option>
      <option>tímido@woodworkers.com</option>
      <option>estornudo@woodworkers.com</option>
      <option>tontín@woodworkers.com</option>
      <option>doc@woodworkers.com</option>
    </select>
    <p><br>
      <label for="uploads">
         Elige las imágenes que deseas cargar:
      </label>
      <input type="file" id="uploads" name="uploads" accept=".docx, .doc, .pdf, .xlsx, .pptx" multiple>
    </p>
    <button id="btnsubmit" type="submit" >Guardar</button>
  </form>
</div>
----
<div class="list-documents" >
    <h1>CONSULTAR DOCUMENTOS</h1>
    <br>
    <label for="categories">Categoria*:</label>
    <select name="categories" id="categories">
      <option>gruñón@woodworkers.com</option>
      <option>feliz@woodworkers.com</option>
      <option>dormilón@woodworkers.com</option>
      <option>tímido@woodworkers.com</option>
      <option>estornudo@woodworkers.com</option>
      <option>tontín@woodworkers.com</option>
      <option>doc@woodworkers.com</option>
    </select>
    <label for="subcategories">Subcategoria:</label>
    <select name="subcategories" id="subcategories">
      <option>gruñón@woodworkers.com</option>
      <option>feliz@woodworkers.com</option>
      <option>dormilón@woodworkers.com</option>
      <option>tímido@woodworkers.com</option>
      <option>estornudo@woodworkers.com</option>
      <option>tontín@woodworkers.com</option>
      <option>doc@woodworkers.com</option>
    </select>
</div>
