<h2 class="titulo">CREAR NUEVO DOCUMENTO</h2>

<form (ngSubmit)="getDocument()" class="formulario">
  <div class="justify-left">
    <div class="elemento">
      <label>Nombre</label>
      <input type="text">
    </div>

    <div class="elemento">
      <label>Categoria</label>
      <input type="text">
    </div>

    <div class="elemento">
      <label>SubCategoria</label>
      <input type="text">
    </div>

    <p>
      <label for="uploads">Elige las imágenes que deseas cargar:</label>
      <input type="file" id="uploads" name="uploads" accept=".docx, .doc, .pdf, .xlsx, .pptx" multiple>
    </p>
    
  </div>

  <button type="submit" class="btn_ok">Guardar</button>
</form>

<div>
  <h2 class="titulo">CONSULTAR DOCUMENTOS</h2>
</div>

<div class="lista">
  <div class="elemento-lista">
    <h4>Categoria</h4>
    <select name="color" id="color">
      <option value="r">Rojo</option>
      <option value="a">Azul</option>
      <option value="v">Verde</option>
    </select>
  </div>

  <div class="elemento-lista">
    <h4>Subcategoria</h4>
    <select name="color" id="color">
      <option value="r">Rojo</option>
      <option value="a">Azul</option>
      <option value="v">Verde</option>
    </select>
  </div>
</div>
<div>
  <table class="default">

    <tr>

      <th>Nombre</th>

      <th>Cat/subCat</th>

      <th>Version</th>

      <th>Hora creación</th>

      <th>Fecha de creación</th>

      <th>Fecha de actualizacion</th>

      <th>Propiedades</th>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>

    <tr>

      <td>Doc1</td>

      <td>categoria17subcategoria2</td>

      <td>3</td>

      <td>03/03/2022</td>

      <td>13:00</td>

      <td>03/03/2022</td>

      <td>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
        <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
      </td>

    </tr>



  </table>



</div>

<div>
  <div class="paginacion">
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
    <h3>Paginacón</h3>
    <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
  </div>

</div>