nav {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.nav_logo {
    padding: 18px;
    width: 140px;
}

.nav_menu {
    margin: 0px 10px;
    width: 45px;
    height: 45px;
}

.nav_menu:hover {
    animation: anim_menu 0.3s ease-in-out;
}


@keyframes anim_menu {
    30% {
        transform: rotateZ(30deg);
    }

    60% {
        transform: rotateZ(-20deg);
    }

    80% {
        transform: rotateZ(10deg);
    }
    90% {
        transform: rotateZ(-5deg);
    }
}