@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* https://icon-sets.iconify.design/gg/menu/ */

:root {
    --color-primary: #050531;
    --color-secondary: #ec7e14;
    --color-gray: #D9D9D9;
    --color-gray-2: #d9d9d988;
    --color-options: #2520ff;
    --border-radius_gen: 6px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container form label,
.container form input {
    display: block;
}

button,
input {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    background: var(--color-gray-2);
    border: none;
    padding: 8px 5px;
    border-radius: var(--border-radius_gen);
}

.btn_ok,
.btn_cancel {
    padding: 10px 15px;
    border-radius: var(--border-radius_gen);
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
}

.btn_ok {
    background: var(--color-secondary);
    border: none;
    color: white;
}

.btn_ok:hover {
    box-shadow: 0px 0px 6px var(--color-secondary);
}

.btn_cancel {
    background: var(--color-gray-2);
    color: gray;
    border: 1px solid gray;
}

.btn_cancel:hover {
    box-shadow: 0px 0px 6px gray;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_body {
    max-width: 60%;
    max-height: 80%;
    overflow-y: scroll;
    background: white;
    padding: 14px;
    border-radius: var(--border-radius_gen);
    text-align: center;

    animation: swipe-up 0.4s linear 1;
}

@keyframes swipe-up {
    0% {
        transform: translateY(150%);
    }

    40% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0%);
    }
}

.modal_body-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.modal_body-msj {
    text-align: start;
}

.modal_body-btn {
    margin: 2px;
}