:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 64px;
}

.code {
    font-weight: 600;
    font-size: 5rem;
}

a {
    margin-top: 32px;
    color: white;
    background-color: #1976d2;
    border: solid;
}