<div class="menu-container">
    <div class="justify-left">
        <div class="element-column">
            <button class="boton-menu" (click)="categorias()"> <img src="/assets/images/category-icon.svg" alt=""
                    class="icono"> </button>
            <h2 class="textmenu">CATEGORIAS</h2>
        </div>

        <div class="element-column">
            <button class="boton-menu" (click)="subcategorias()"> <img src="/assets/images/subcategory-icon.svg" alt=""
                    class="icono"></button>
            <h2 class="textmenu">SUBCATEGORIAS</h2>
        </div>

        <div class="element-column" (click)="documentos()">
            <button class="boton-menu"> <img src="/assets/images/document-icon.svg" alt="" class="icono"></button>
            <h2 class="textmenu">DOCUMENTOS</h2>
        </div>

        <div class="element-column" (click)="reportes()">
            <button class="boton-menu"> <img src="/assets/images/report-icon.svg" alt="" class="icono"></button>
            <h2 class="textmenu">RESPORTES</h2>
        </div>
    </div>
</div>