<div class="menu-container">
    <div>
        <ul>
            <li (click)="categorias()">
                <img src="/assets/images/category-icon.svg" alt="" class="icono">
                <h2>CATEGORIAS</h2>
            </li>
            <li (click)="subcategorias()">
                <img src="/assets/images/subcategory-icon.svg" alt="" class="icono">
                <h2>SUBCATEGORIAS</h2>
            </li>
            <li (click)="documentos()">
                <img src="/assets/images/document-icon.svg" alt="" class="icono">
                <h2>DOCUMENTOS</h2>
            </li>
            <li (click)="reportes()">
                <img src="/assets/images/report-icon.svg" alt="" class="icono">
                <h2>REPORTES</h2>
            </li>
        </ul>
    </div>
</div>