.menu-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton-menu{
    display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  
}

.element-column{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textmenu{
    padding-left: 20px !important;
}

.icono{
    width: 80%;
}